.objectTitle{
    margin-block-start: 80px;
}

.photoContainer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    border-radius: 8px;
    overflow: hidden;
    grid-template-rows: 200px 200px;
}

.mainPhoto{
    grid-column: 1/2;
    grid-row: 1/3;
}

.smallPhoto1{
    grid-column: 2/3;
    grid-row: 1/2;
}

.smallPhoto2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.smallPhoto3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.smallPhoto4{
    grid-column: 3/4;
    grid-row: 2/3;
}

.photo{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}