.objectPageContainer {
  padding-block-end: 10%;
}

.objectTitle {
  margin-block-start: 80px;
}

.photoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  overflow: hidden;
  grid-template-rows: 200px 200px;
}

.mobileSlider {
  display: none;
}

.objectSubtitle {
  margin-block-start: 10px;
}

.objectInfoContainer {
  display: flex;
  gap: 2rem;
}

.objectInfo {
  margin-block-end: 30px;
}

.mainPhoto {
  grid-column: 1/2;
  grid-row: 1/3;
}

.smallPhoto1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.smallPhoto2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.smallPhoto3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.smallPhoto4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.objectTitleMobile {
  display: none;
}

.objectContent {
  flex: 1 1 50%;
}

.priceWrapper {
  flex: 1 0 30%;
  height: fit-content;
  padding: 1rem;
  border: 3px solid var(--color-primary);
}

.thaiQuotaText {
  background-color: var(--color-primary);
}

.foreignQuotaText {
  background-color: var(--color-secondary);
}

.quotaText {
  width: fit-content;
  padding: 0 0.25rem;
}

.roomPrice {
  font-weight: 800;
}

.priceWrapperMobile {
  display: none;
}

@media (width < 991px) {
  .photoContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media (width < 768px) {
  .photoContainer {
    grid-template-columns: repeat(2, 1fr);
  } 

  .mainPhoto {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .smallPhoto1 {
    grid-column: 1/2;
    grid-row: auto;
  }

  .smallPhoto2 {
    grid-column: 2/3;
    grid-row: auto;
  }

  .smallPhoto3 {
    grid-column: 1/2;
    grid-row: auto;
  }

  .smallPhoto4 {
    grid-column: 2/3;
    grid-row: auto;
  }

  .priceWrapper {
    display: none;
  }

  .roomPriceMobile {
    font-weight: 800;
  }

  .priceWrapperMobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 2px solid var(--color-primary);
  }
}

@media (width < 480px) {
  .objectPageContainer {
    max-width: 100vw;
  }

  .photoContainer {
    display: none;
  }

  .mobileSlider {
    display: block;
  }

  .objectInfoContainer {
    padding-inline: 20px;
  }

  .photo {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .mainPhoto {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    grid-row: auto;
    grid-column: 1/2;
  }

  .smallPhoto1,
  .smallPhoto2,
  .smallPhoto3,
  .smallPhoto4 {
    display: none;
  }

  .objectTitle {
    display: none;
  }

  .objectTitleMobile {
    text-align: center;
    display: block;
    margin-block-start: 10px;
  }

  .objectSubtitle {
    padding-inline: 20px;
  }
}
