.pageHeader {
  text-align: center;
  font-size: 35px;
  margin-block-end: 50px;
  margin-block-start: 50px;
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (width < 1200px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 900px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
