.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.cardImgWrapper{
  position: relative;
}

.arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .arrow{
  opacity: 1;
}

.dots{
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .dots{
  opacity: 1;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.525);
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot:hover{
background-color: white;
}

.activeDot{
 background-color: var(--color-primary);
}

.arrowLeft{
  left: 5px;
}

.arrowRight{
  right: 5px;
}

.cardImg {
  width: 100%;
  height: 230px;
  border-radius: 15px;
  margin-block-end: 5px;
  object-fit: cover;
}

.cardTitle {
  font-weight: 400;
  font-size: 18px;
}

.cardPrice {
    font-weight: 700;
    font-size: 20px;
}

.cardOldPrice {
  position: relative;
 color: gray;
 margin-inline-end: 10px;
}

.cardDiscount{
  color: var(--color-secondary);
}

.cardOldPrice::after{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 70px;
  height: 3px;
  rotate: 5deg;
  background-color: var(--color-primary);
}