*{margin: 0; padding: 0;}

.edit {
    width: 30px;
    height: 30px;
   }

   .write {
    width: 20px;
    height: 20px;
   }

   .remove {
    width: 30px;
    height: 30px;
   }

   .trash {
    width: 20px;
    height: 20px;
   }

   .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    background-color: lightblue;

   }

   .trancription {
    display: flex;
    justify-content: center;
  
   }

   .translate{
    display: flex;
    justify-content: center;
   }

   .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: lightblue;
   }

   .wrapper {
    display: flex;
    justify-content: space-between;
   }

   .containerForWords{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   }

   .newWordsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid red;
    width: 100%;
    height: 50px;
   }

 
   