:root{
  --color-primary: rgba(27, 162, 27, 0.473);
  --color-secondary: #F7B86A;
}

.pageContainer{
  max-width: 70%;
  margin: 0 auto;
}

.pageHeader{
    text-align: center;
    font-size: 35px;
    margin-block-end: 50px;
    margin-block-start: 50px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-block-end: 20px;
}

.telegramButton{
    text-decoration: none;
  color: black;
  align-self: center;
  padding: 5px 10px;
  background-color: rgba(102, 200, 232, 0.568);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

@media (width < 1200px) {
    .gridContainer{
        grid-template-columns: repeat(3,1fr);
    }
} 

@media (width < 900px) {
    .gridContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .gridContainer{
        grid-template-columns: 1fr ;
    }
}