.slider {
  height: 230px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.track {
  height: 100%;
  display: flex;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.zone {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 2;
  background: transparent;
}

.slider:hover .zone {
  opacity: 1;
}

.left {
  left: 0;
}

.left:hover {
  background: rgba(0, 0, 0, 0.2);
}

.right {
  right: 0;
}

.right:hover {
  background: rgba(0, 0, 0, 0.2);
}

.dots {
  display: flex;
  gap: 6px;

  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.slider:hover .dots {
  opacity: 1;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.525);
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot:hover {
  background-color: white;
}

.active {
  background-color: var(--color-primary);
}

.slide {
  animation-duration: 0.35s;
  animation-timing-function: ease;
}

.slide .next {
  animation-name: slideFromRight;
}

.slide .prev {
  animation-name: slideFromLeft;
}
